{% extends 'base.html' %}

    {% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Personal Info</h5>
                        <p class="card-text">Name:</p>
                        <p class="card-text">Contract public key:</p>
                        <a href="#" class="btn btn-primary">View more</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">NRIC</h5>
                        <p class="card-text">NRIC Number:</p>
                        <p class="card-text">NRIC Date of Issue:</p>
                        <a href="#" class="btn btn-primary">Show NRIC</a>
                    </div>
                </div>
            </div>
            <!--<div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>-->
        </div>


    {% endblock %}